{% extends 'posts/feed.html' %}
{##}
{#{%block title %}#}
{#    {{ post.title }}#}
{#{% endblock %}#}
{##}
{#{%block content %}#}
{#    <h1 class="mb-5">#}
{#        {{ post.title }}#}
{#    </h1>#}
{##}
{#    <p class="mb-5">#}
{#        {{ post.body }}#}
{#    </p>#}
{#    <h5> used tags:</h5>#}
{##}
{#    <div class="row">#}
{#        {% for tag in post.tag.all %}#}
{#        <a class="mr-2" href="{{ tag.get_absolute_url }}"> #{{ tag.title }}, </a>#}
{#    {% endfor %}#}
{#    </div>#}
{##}
{##}
{#{% endblock %}#}
{##}
{#{%  include 'includes/posts/post_template.html' %}#}






