<transition name="delete-show">
    <div v-if="show_del">
        <div class="modal fade show " aria-modal="true" role="dialog" style="display: block; ">
            <div class="modal-dialog">
                <div class="modal-content">
                    <h3> R U sure that u want 2 delete this post?  </h3>
                    <div class="row">
                        <button v-on:click="show_del = false" class="btn btn-info"> Cancel </button>
                        <form @submit.prevent="delPost">
                            <button type="submit" class="btn btn-alert">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</transition>