<div id="app{{post.id}}">
    <div class="card mb-4 ">
        <div class="card-header">
            <div class="row">
                <h4> {{ post.user }} </h4>
                <div class ="" style="position: absolute; right: 7px;">
                    <a href="{{post.get_absolute_url}}" class="btn btn-info">read</a>
                    {% if request.user == post.user or request.user.is_staff %}
                        <button v-on:click="show_upd = !show_upd" class="btn btn-info" >🖊</button>
                        <button v-on:click="show_del = !show_del" class="btn btn-danger">❌</button>
                    {% endif %}
                </div>

            </div>
        </div>
            {# body #}
        <div v-if="!show_upd" class="card-body">
            <h4 class="card-title"> {{ post.title }}</h4>
            <h6 class="card-text"> {{post.body}}</h6>
            <p class="card-text">
                {% for tag in post.tag.all %}
                    <a href="{{ tag.get_absolute_url }}">#{{tag}} </a>
                {% endfor %}
            </p>

            <div class="row" >
                <div id="like">
                    <form @submit.prevent="makeLike">
                        {% csrf_token %}
                        <button type="submit" class="btn" ref="like"> {{ post.likes_amount }} 💙</button>
                    </form>
                </div>
                <div id ="comment">
                    <button class="btn" v-on:click="getComment" ref="comment">
                        {{ post.comments_amount}} 🗨
                    </button>
                </div>
                <div id="repost">
                    <button v-on:click="show_repost = !show_repost" type="button" class="btn">{{ post.reposts_amount}} ↗</button>
                </div>
                <div class="" style="position: absolute; right: 10px;">
                    <i>{{ post.date_publication }}</i>
                </div>
            </div>


            {% include 'includes/posts/delete_post_window.html' %}
            {% include 'includes/posts/comments_template.html' %}
            {% include 'includes/posts/repost_window.html' %}

        </div>
        <div v-else="">
            {% include 'includes/posts/update_post_template.html' %}
        </div>





        {% include 'includes/posts/scripts_post_REVRITELATER.html' %}
    </div>
</div>