<div>
    {%  verbatim %}
    <div class="card mb-4 ">
        <div class="card-header">
            <div class="row">
                <h4 class="col-8">
                    <a v-bind:href="post.data.url">{{ post.data.username }}</a>
                </h4>
                <div class ="row" style="position: absolute; right: 10px;">
                    <a href="" class="btn btn-info mr-2">read</a>
                    <div v-if="user.id === post.data.user || user.is_staff">
                        <button v-on:click="showUpdatePost(post)" class="btn" >🖊</button>
                        <button v-on:click="post.show_del = true" class="btn mr-2">❌</button>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="!post.show_upd" class="card-body">
            <h4 class="card-title"> {{ post.data.title }}</h4>
            <h6 class="card-text"> {{post.data.body}}</h6>
            <p class="card-text"></p>
            <div class="row ml-2">
                <div v-for="(tag, index) in post.tags">
                    <div v-if="index === post.tags.length - 1">
                        <a class="mr-2" v-bind:href="getTagUrl(tag.title)">#{{tag.title}}</a>
                    </div>
                    <div v-else="">
                        <a class="mr-2" v-bind:href="getTagUrl(tag.title)"> #{{tag.title}},</a>
                    </div>
                </div>
            </div>

            <div v-if="post.data.see_statistic_permission <= post.data.permission" class="row" >
                    <form v-if="post.data.like_permission <= post.data.permission" @submit.prevent="makeLike(post)">
                        <div v-if="!post.data.is_liked">
                            <button type="submit" class="btn" ref="like"> {{ post.data.likes_amount }} 💙</button>
                        </div>
                        <div v-else="">
                            <button type="submit" class="btn" ref="like"> {{ post.data.likes_amount }} ❤</button>
                        </div>
                    </form>
                    <button v-if="post.data.see_comments_permission <= post.data.permission"
                            class="btn" v-on:click="getComment(post)" ref="comment">
                        {{post.data.comments_amount}} 🗨
                    </button>
                    <button v-if="post.data.repost_permission <= post.data.permission"
                            v-on:click="post.show_repost = !post.show_repost" type="button" class="btn">
                        {{ post.data.reposts_amount}} ↗</button>

                <div class="" style="position: absolute; right: 10px;">
                    <i v-if="post.data.is_changed">upd</i>
                    <i>{{ post.data.date_publication }}</i>
                </div>
            </div>
        {%  endverbatim %}
            {% include 'includes/posts/comments_template.html' %}
            {% include 'includes/posts/delete_post_window.html' %}

            {% include 'includes/posts/repost_window.html' %}
        </div>
        <div v-else="">
                {% include 'includes/posts/update_or_create_post.html' %}
        </div>
    </div>
</div>