 <div class="dropdown">
     <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         All users
     </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <a class="dropdown-item" href="#">All users</a>
         <a class="dropdown-item" href="#">Only friends</a>
         <a class="dropdown-item" href="#">Only subscribers</a>
         <a class="dropdown-item" href="#">Nobody</a>
     </div>
 </div>