{% extends 'user_profile/base_user.html' %}

{% block title %}
    {{ profile.user.username }}
{% endblock %}

{% block settings_button %}
    <div class="row">
        <div class=" col-md-1 col-sm-0"  style="position: absolute; right: 0;">
             {% include 'includes/settings_dropsown.html' %}
        </div>
    </div>
{% endblock %}



{% block content %}

    <div class="clo-md-5 mb-4" >
        <h2>{{ profile.user.username }}</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% block image %}
                image
            {% endblock %}
        </div>
        <div class=" col-md-8">

            <p class="mb-3"> posts :  {{ profile.posts }}</p>
            <p class="mb-3"> friends : {{ profile.friends }}</p>
            <p class="mb-3"> subscribers : {{ profile.subscribers }}</p>
            <p class="mb-5"> subscriptions : {{ profile.subscriptions }}</p>
            <p class="mb-5"> about : {{ profile.about }}</p>

        </div>
    </div>


    <div>

    </div>
{% endblock %}