{% extends 'user_profile/base_user.html' %}

{% block title %}
    {{ profile.user.username }}
{% endblock %}

{% block settings_button %}
    <div class="row">
        <div class=" col-md-1 col-sm-0"  style="position: absolute; right: 0;">
             {% include 'includes/settings_dropsown.html' %}
        </div>
    </div>
{% endblock %}




{% block content %}

    {% block image %}
        {{ profile.avatar }}
        <a class="btn btn-light">Q</a>
    {% endblock %}

    {% block stats%}

        <p class="mb-3"> posts :  {{ profile.posts }}</p>
        <p class="mb-3"> friends : {{ profile.friends }}</p>
        <p class="mb-3"> subscribers : {{ profile.subscribers }}</p>
        <p class="mb-5"> subscriptions : {{ profile.subscriptions }}</p>
        <p class="mb-5"> about : {{ profile.about }}

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Write</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="button" >edit</button>
        </p>
    {% endblock %}


    <p><a href=" {% url 'create_post_url' %}" class="btn btn-primary"> Create new post </a></p>



    {% if profile.posts != 0 %}
        {% for post in posts %}
           {% include 'includes/../posts/../includes/posts/post_template.html' %}
        {% endfor %}
    {% else %}
        <h4> this user don't have any post</h4>
    {% endif %}

{% endblock %}