<div>
    {% verbatim %}
    <div>
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">All Users</th>
                <th scope="col">Only Friends</th>
                <th scope="col">Only Subs</th>
                <th scope="col">Nobody</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">access messaging with you</th>
                <td><input value=0 v-model="settings.access_messaging" type="radio"></td>
                <td><input value=2 v-model="settings.access_messaging"  type="radio"></td>
                <td><input value=4 v-model="settings.access_messaging"  type="radio"></td>
                <td><input value=5 v-model="settings.access_messaging"  type="radio"></td>
            </tr>
            <tr>
                <th scope="row">access to your about</th>
                <td><input value=0 v-model="settings.access_about" type="radio"></td>
                <td><input value=1 v-model="settings.access_about"  type="radio"></td>
                <td><input value=4 v-model="settings.access_about"  type="radio"></td>
                <td><input value=5 v-model="settings.access_about"  type="radio"></td>
            </tr>
            <tr>
                <th scope="row">access to your albums</th>
                <td><input value=0 v-model="settings.access_albums" type="radio"></td>
                <td><input value=2 v-model="settings.access_albums" type="radio"></td>
                <td><input value=4 v-model="settings.access_albums" type="radio"></td>
                <td><input value=5 v-model="settings.access_albums"  type="radio"></td>
            </tr>
            <tr>
                <th scope="row">access to your images</th>
                <td><input value=0 v-model="settings.access_images" type="radio"></td>
                <td><input value=2 v-model="settings.access_images" type="radio"></td>
                <td><input value=4 v-model="settings.access_images" type="radio"></td>
                <td><input value=5 v-model="settings.access_images"  type="radio"></td>
            </tr>
            <tr>
                <th scope="row">access to your stats</th>
                <td><input value=0 v-model="settings.access_stats" type="radio"></td>
                <td><input value=2 v-model="settings.access_stats" type="radio"></td>
                <td><input value=4 v-model="settings.access_stats" type="radio"></td>
                <td><input value=5 v-model="settings.access_stats"  type="radio"></td>
            </tr>
            <tr>
                <th scope="row">access to your profile</th>
                <td><input value=0 v-model="settings.access_posts" type="radio"></td>
                <td><input value=2 v-model="settings.access_posts" type="radio"></td>
                <td><input value=4 v-model="settings.access_posts" type="radio"></td>
                <td><input value=5 v-model="settings.access_posts"  type="radio"></td>
            </tr>
            </tbody>
        </table>

    </div><form @submit.prevent="update_settings()">
            <button class="btn btn-info">apply</button>
    </form>
    {% endverbatim %}
</div>