<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{#    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">#}


    <title>
        {% block title%}
            some title
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info mb-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
                <a class="nav-link" href="{% url 'feed_url' %}"> Feed </a>

{#            <div class="dropdown">#}
{#              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                Dropdown link#}
{#              </a>#}
{#              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
{#                <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#              </ul>#}
{#            </div>#}
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'tags_list_url' %}"> Tags </a>
          </li>
          {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'get_my_profile' %} " tabindex="-1" aria-disabled="true"> 🏠 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'friends_url' %}" tabindex="-1" aria-disabled="true"> 👤 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chat_list_url' %} " tabindex="-1" aria-disabled="true">  ✉️</a>
              </li>
          {% else %}
              <a class="btn btn-success" href="/login">Login</a>
          {% endif %}


        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


    {% block settings_button %}
    {% endblock %}




    <div class="container">
        <div class="row">
            <div class="col-10 offset-md-1">

                 {% block tabs %}
                 {% endblock %}

                {% block content %}
                    <h1>Sorry, </h1>
                    <h3> there is no content now </h3>
                    <h2>( .__.)</h2>
                {% endblock%}


{#                <nav aria-label="...">#}
{#                      <ul class="pagination">#}
{#                            <li class="page-item disabled">#}
{#                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>#}
{#                            </li>#}
{#                            <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                            <li class="page-item active" aria-current="page">#}
{#                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>#}
{#                            </li>#}
{#                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                            <li class="page-item">#}
{#                                <a class="page-link" href="#">Next</a>#}
{#                            </li>#}
{#                      </ul>#}
{#                </nav>#}

             </div>
        </div>
    </div>



</body>
</html>