{% extends 'base.html ' %}

{% block  admin_panel%}

    <div class="btn-group">
          <button type="button" class="btn btn-light">Create</button>
          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          </button>
          <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'create_post_url' %}">Post</a>
                <a class="dropdown-item" href="{% url 'create_tag_url' %}">Tag</a>
          </div>
    </div>

    <a href="{{ admin_obj.get_update_url }}" class="btn btn-light edit"
    style="{% if read_obj %} display: block; {% endif %}">
        Edit
    </a>
    <a href="{{ admin_obj.get_delete_url }}" class="btn btn-danger delete"
    style="{% if read_obj %} display: block; {% endif %}" >
        Delete
    </a>

{% endblock %}
