{% extends 'posts/base_posts.html' %}

{% block title %}
    Edit tag "{{ tag.title }}"
{% endblock %}

{% block content %}
    <form action="{% url 'update_tag_url' slug=tag.slug %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}

        <h6 class="mb-5"></h6>
        <button type="submit" class="btn btn-primary">
                Update Tag
        </button>
    </form>
    <h6 class="mb-5"></h6>

{% endblock %}